.card-body{
    background: #343b3f !important;
}

.card-columns{
    display: grid;
}


.btn.btn-outline-warning.btn-block{
    margin-bottom: 2%;
}

.card-body{
    background: #343b3f !important;
    border-radius: 0px 0px 15px 15px;
}

.card.animated.fadeIn.fast{
    border-radius: 15px;
}

.card-img-top.img-fluid{
    border-radius: 15px 15px 0px 0px;
}