.card-body{
    background: #343b3f !important;
}

.card{
    margin-left: 90%;
}

.animated.fadeIn.fast{
    margin-bottom: 5%;
}

.btn.btn-outline-success.btn-block{
    margin-bottom: 5%;
}

.btn.btn-outline-warning.btn-block{
    margin-bottom: 5%;
}