<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="animated fadeIn fast">All Albums of your favourite artists</h1>
    </div>
  </div>

<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let album of albumList; let i = index;">
        <img [src]="album.coverUrl"  class="card-img-top img-fluid" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{album.title}}</h4>
          <p class="card-text">Year: {{album.year}}</p>     
          <p class="card-text"><small class="text-muted">Genre: {{album.genre}}</small></p>         
        </div>
      </div>
</div>
