<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="animated fadeIn fast">All The Music Lists</h1>
      <p class="lead">Your favourite artists and their albums information.</p>
    </div>
  </div>

  <div class="card-columns">
    <div class="card" *ngFor="let artist of listArtists;">
        <img [src]="artist.photoUrl"  class="card-img-top img-fluid" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{artist.name}}</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          <button type="button" class="btn btn-outline-primary btn-block">More info...</button>
        </div>
      </div>
</div>
