<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="animated fadeIn fast">Top List<small> Artists Music</small></h1>
      <p class="lead">This is a page to find information about your favourite artists and all albums.</p>
    </div>
  </div>

  <div class="card-columns">
    <div class="card">
        <img src="../../../assets/img/ed2.jpeg"  class="card-img-top img-fluid" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Ed Sheeran</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          <button type="button" class="btn btn-outline-primary btn-block">More info...</button>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/ed2.jpeg"  class="card-img-top img-fluid" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Ed Sheeran</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          <button type="button" class="btn btn-outline-primary btn-block">More info...</button>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/ed2.jpeg"  class="card-img-top img-fluid" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Ed Sheeran</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          <button type="button" class="btn btn-outline-primary btn-block">More info...</button>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/ed2.jpeg"  class="card-img-top img-fluid" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Ed Sheeran</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          <button type="button" class="btn btn-outline-primary btn-block">More info...</button>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/ed2.jpeg"  class="card-img-top img-fluid" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Ed Sheeran</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          <button type="button" class="btn btn-outline-primary btn-block">More info...</button>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/ed2.jpeg"  class="card-img-top img-fluid" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Ed Sheeran</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          <button type="button" class="btn btn-outline-primary btn-block">More info...</button>
        </div>
      </div>
</div>
